body {
    background:lightblue;
}
h1 {
    color: rgb(25, 6, 3)
}
/* .testingcss {
    background: yellow
} */
#info {
    background: yellowgreen
}
.schedule {
    height: 250px;
    width: 500px;
    padding: 30px;
    margin: 10px;
    border: 5px solid green;
    background-color: aquamarine;
}
