body {
    background:lightblue;
}
/* 0,0,0,1 */
h1 {
    color: rgb(25, 6, 3)
}
/* 0,0,1,0 */
.testingcss {
    background: yellow
}
#info {
    background: darkcyan !important;    
}
/* 0,1,0,0 */
#info {
    background: yellowgreen
}
.schedule {
    height: 250px;
    width: 500px;
    padding: 30px;
    margin: 10px;
    border: 5px solid green;
    background-color: aquamarine;
}
.nav li {
    background-color: antiquewhite;
}
.schedule > h2 {
    color:green;
}
li.sibling + li {
    background-color:aquamarine;
}
li.sibling ~ li {
    background-color:aquamarine;
}